<?php

return array(
    'zendesk' => array(
        'host'    => 'host',
        'user'    => 'username', // http://developer.zendesk.com/documentation/rest_api/introduction.html
        'token'   => 'token',
        'version' => 'v2',
        'debug' => false, // true or false
        'builders' => array(), // custom builders here
    ),
);
